/* Todo o conteúdo HTML */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;  /* largura */
    min-height: 100vh;  /* altura mínima */
    background-color: rgb(243, 243, 243); /* cinga gelo */
    margin: 0; 
    padding: 0;
    display: flex;  /* dispões os elementos do container em linha, mesma linha */ 
    justify-content: center; /* centraliza todo o conteúdo */    
}

/* Coluna 1 e Coluna 2 */
.instagram-wrapper {
    display: flex; /* Alinha os elementos em linha */
    align-items: center; /* alinhamento vertical dos intes */ 
    justify-content: start; /* os ítens começam da esquerda para direita */ 
    width: 60%;
    height: 100vh; 
}

/* Coluna 1 */
.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;    
}

.instagram-phone img {
    height: 50%;
}

/* Coluna 2 */ 

.instagram-continue {
    display: flex;
    align-items: center; /* está na horizontal */
    justify-content: space-around; /* está na vertical */
    flex-direction: column; 
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between; /* aplica um espaço */
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;    
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;    
    height: 110px;
}